.head img{

    height: 80px;
  
}

.head{
    
    text-align: center;
}

.head nav{

    background-color: black;
    line-height: 57px;
    font-size: 22px;
}

nav a{

    text-decoration: none;
    color:white;
    margin-right: 20px;
    padding: 10px;
}

nav a:hover{

    background-color: gray;
}